.h2{
    color:springgreen
}
/* Login.js loginClass */
.loginClass {
    width: 340px;
}
/* Contact.js submitClass */
.submitClass{
    width: 340px;
}
/* Navigation.js navbarClass */
.navbarClass {
    width: 123%;
}